name: Deploy Lambda

# on:
#   push:
#     branches:
#       - main   # deploy only when pushing to main

jobs:
  deploy:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Zip Lambda package
        run: |
          mkdir -p build
          zip -r build/lambda.zip . -x ".git*" "node_modules/aws-sdk/*"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name office-checkin \
            --zip-file fileb://build/lambda.zip
